# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Od/Ends/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Od/Ends/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Od/Ends/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Od/Ends/obj/Debug/Ends.pdb
/Od/.vs/config/applicationhost-Herbert-2.config
/Od/.vs/config/applicationhost-Herbert.config
/Od/.vs/config/applicationhost.config
/Od/.vs/Od/v14
/Od/.vs/Od/v15
/Od/Ends/bin
/Od/Ends/obj/Debug
/Od/Examples/DbMonsterOd/bin
/Od/Examples/DbMonsterOd/obj/Debug
/Od/Examples/DemoEndsDialogueBox/bin
/Od/Examples/DemoEndsDialogueBox/obj/Debug
/Od/Examples/DemoEndsDialogueBoxAlert/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Od/Examples/DemoEndsDialogueBoxAlert/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Od/Examples/DemoEndsDialogueBoxAlert/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Od/Examples/DemoEndsElements/bin
/Od/Examples/DemoEndsElements/obj/Debug
/Od/Examples/DemoEndsInputComponent/bin
/Od/Examples/DemoEndsInputComponent/obj/Debug
/Od/Examples/DemoEndsSelectComponent/bin
/Od/Examples/DemoEndsSelectComponent/obj/Debug
/Od/Examples/DemoEndsTabComponent/bin
/Od/Examples/DemoEndsTabComponent/obj/Debug
/Od/Examples/DemoOd/bin
/Od/Examples/DemoOd/obj/Debug
/Od/Examples/DemoOdLifecycle/bin
/Od/Examples/DemoOdLifecycle/obj/Debug
/Od/Examples/DemoOdLifecycle2/bin
/Od/Examples/DemoOdLifecycle2/obj/Debug
/Od/Examples/OdThreadIt/bin
/Od/Examples/OdThreadIt/obj/Debug
/Od/Examples/ToDoMvcOd/bin
/Od/Examples/ToDoMvcOd/obj/Debug
/Od/MinJs/bin
/Od/MinJs/obj/Debug
/Od/Od/bin
/Od/Od/obj/Debug
/Od/Tests/TestAttachedLifecycleEvent/bin
/Od/Tests/TestAttachedLifecycleEvent/obj/Debug
/Od/Tests/TestEndsPromise/bin
/Od/Tests/TestEndsPromise/obj/Debug
/Od/Tests/TestEndsRouter/bin
/Od/Tests/TestEndsRouter/obj/Debug
/Od/Tests/TestHarness/bin
/Od/Tests/TestHarness/obj/Debug
/Od/Tests/TestMihaiDisposalLifecycle/bin
/Od/Tests/TestMihaiDisposalLifecycle/obj/Debug
/Od/Tests/TestMihaiGarbageRetention/bin
/Od/Tests/TestMihaiGarbageRetention/obj/Debug
/Od/Tests/TestObs/bin
/Od/Tests/TestObs/obj/Debug
/Od/Tests/TestOd/bin
/Od/Tests/TestOd/obj/Debug
/packages/BuildBundlerMinifier.1.8.148
/Od/Backup.zip
/Od/TestMihaiImgSrcStripping
/Od/packages/BuildBundlerMinifier.1.8.148
