body {
    font-family: 'Segoe UI', sans-serif;
}

.OdDialogueBoxHeader {
    background: #444;
    color: white;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom: 1px solid grey;
    padding-top: 0.3em;
}

.OdDialogueBoxBody {
    background: #444;
    color: white;
    padding: 0.5em;
    padding-right: 1em;
}

.OdDialogueBoxFooter {
    background: #444;
    color: white;
    border-top: 1px solid grey;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    padding-bottom: 0.3em;
}
