body {
    font-family: 'Segoe UI', sans-serif;
}
.OdTabComponent { background: #f0f0f0; }
.OdTabHeadings { width: 100%; background: #e0e0e0; }
.OdTabHeading {
    display: inline-block;
    border-bottom: 4px solid #e0e0e0;
    padding: 4px;
    margin: 4px 0px 0px 4px;
}
.OdTabSelection { border-bottom: 4px solid #f0f0f0; background: #f0f0f0; }
.OdTabBody { width: 100%; padding: 4px; }
